h1{color: #fff;margin-bottom: 5%;text-align: center;}
img{display: none;}
.content .sessao{display: none;}
.botao{border: 0;background-color: #7B90AF;}

/*REPOSNSIVIDADE*/
@media screen and (min-width: 320px){
	.content{display: block;}
	.content article{
		width: 75%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		margin-bottom: 10%;
	}
	.content article img{width: 100%;}
	.botao{margin-bottom: 2%;}
	.btn-menu{
		margin-top: 5%;
		margin-right: 6%;
	}
}
@media screen and (min-width: 500px){
	.btn-menu{
		margin-top: 5%;
		margin-right: 6%;
	}
}
@media screen and (min-width: 550px){
	.btn-menu{
		margin-top: 5%;
		margin-right: 9%;
	}
}
@media screen and (min-width: 650px){
	.btn-menu{
		margin-top: 5%;
		margin-right: 9%;
	}
}
@media screen and (min-width: 720px){
	.content{
		padding: 3% 4%;
	}
	.content article{margin-right: 5%;text-align: center;}
	.botao{margin-bottom: 5%;}	
}
@media screen and (min-width: 768px){
	.btn-menu{
		margin-top: 4%;
		margin-right: 8%;
	}
}
@media screen and (min-width: 780px){
	.btn-menu{
		margin-top: 4%;
		margin-right: 8%;
	}	
}
@media screen and (min-width: 900px){}
@media screen and (min-width: 1280px){
	.content article{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5%;
		align-items: center;
		justify-content: center;
	}
}
